/*banner style*/

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <800>;
    font-style: normal;
  }

.banner-header{
    
    font-size: 48px;
    font-weight: 800px;

}

.banner-description{
    width: 852px;

    padding: 5px 61px 32px 61px;
    font-size: 16px;
    font-weight: 400px;
    position: center;
}


.banner-pic{
    width: 240px;
    height: 240px;
    padding: 36px 366.66px 32px 366.66px;

}

.header{
    background-image:url(../assets/Hero-bg.png);
    background-position: center;
    max-width: 1440px;
    height: 750px;
    text-align: center;
    background-size: cover;

}
.banner-content{
    padding: 36px 233px 35px 233px;
    max-width: 974px;
    height: 581px;
    
}


.banner{
    width: 1920px;
    height: 652px;
    text-align: center;
}

.btn-p{
    width: 244px;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 24px 21px;
    border-radius: 8px;
    font-size: 20px;
    

}


/* 2nd section*/

.ptwo-semi-card{

display: flex;
padding: 48px;
justify-content: space-between;
gap: 98.83px;
background-color: white;
border-radius: 16px;
margin: 32px;

}

.ptwo-container{

    padding: 80px 97px;
    margin: 74px 152px 90px 139px;
    background-color: rgba(13,19,33,.02);
    

}

.ptwo-container>h2{
    width: 852px;
    text-align: center;
}
.ptwo-container>p{
    width: 852px;
    text-align: center;
    padding: 24px 47px 48px 47px;
}

.whyweb-deatils{
    width: 477px;
    padding-right: 87px;
   
}
.whyweb-deatils>p{
    padding: 16px 9px 32px 0px ;
    color: rgba(13, 19, 33, 1);
}
.whyweb-deatils>h4{
    width: 390px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
   
}

.whyweb-deatils>button{
    padding: 12px 20px;
    background-color: white;
}


/* 3rd part*/

.inspiration-main{
    padding: 20px 152px 151px 148px ;
    width: 1140px;
    height: 775px;
     ;
}
.inspiration-m{
    width: 852px;
    padding: 0px 144px 48px 144px;
    
}
.inspiration-m>h1{
    
    text-align: center;
}
.inspiration-m>p{
    text-align: center;
}
.frame{
    padding: 32px;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(13, 19, 33, 0.2);
    
}
iframe{
    width: 1075px;
    height: 550px;
    padding: 32;
    border-radius: 16px;
}
/* target*/
.text{
    width: 946px;
    text-align: center;
    padding: 0 97px 48px 97px;
}
.ctarget{
    max-width: 1140px;
    
    padding: 50px 150px 111px 150px;
}

.target-container{
    width: 1140px;
    padding: 48px 150px 111px 0px;
    gap: 24px;
    display: flex;

}

.target{
    width: 284px;
}
.description{
    padding: 44px 40px 43px 0px;
    
}
.target>h3{
    width: 284px;
    height: 36px;
    color: black;
    text-align: left;

}
.target1{
    max-width: 364px;;
    background-color:rgba(255, 76, 30, 0.05) ;
    border-radius: 16px;
    padding: 40px;
}

.target2{
    max-width: 364px;;
    background-color:rgba(0, 76, 232, 0.05) ;
    border-radius: 16px;
    padding: 40px;
}

.target3{
    max-width: 364px;;
    background-color:rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
}
/* last section*/

.backim{
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    width: 1140px ;
    height: 313px;
    border-radius: 16px;
    text-align: center;
    color: aliceblue;
    padding: 75px 150px 80px 150px;
    box-shadow: 0px 4px 10px 0px  rgba(0, 0, 0, 0.25);
    
}

.container{
    padding: 64px 48px 64px 48px;
    
}
 .ti{
    width: 292px;
    padding: 0px 219px 16px 350px;
    font-size: 32px;
    
 }
.la>input{

    padding: 19px 215px 19px 20px;
    border-radius: 8px;
}
.backim-btn{
    padding: 17px 20px;
    border-radius: 8px;
}


/* footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    margin-top: 80px;
    width: 1200px;
    height: 50px;
    font-size: 10px;
    padding: 32px 150px 32px 150px;
      
}






    

