/*banner style*/

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <800>;
    font-style: normal;
  }

.banner-header{
    font-size: 48px;
    font-weight: 800px;

}

.banner-description{
    font-size: 16px;
    font-weight: 400px;
    position: center;
}


.banner-pic{
    width: 240px;
    height: 240px;
    margin: 20px 250px 0 167px;
    
   


}

.header{
    background-image:url(../assets/Hero-bg.png) ;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    max-height: 652px ;

}
.banner-content{
    max-width: 974px;
    height: 581px;
    margin: 233px 167px;
    position: center;

}


.banner{
    width: 1920px;
    height: 652px;
}

.btn-p{
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 24px 21px;
    border-radius: 8px;
    

}


